# Copyright (c) 2022 The ZMK Contributors
# SPDX-License-Identifier: MIT

if SHIELD_TBK_XIAO_BLE_LEFT

config ZMK_KEYBOARD_NAME
    default "tbk xiao"

config ZMK_SPLIT_ROLE_CENTRAL
    default y

endif

if SHIELD_TBK_XIAO_BLE_LEFT || SHIELD_TBK_XIAO_BLE_RIGHT

config ZMK_SPLIT
    default y

endif
